body
	font-size: $default-font-size
.page
	overflow: hidden
	transition: 0.5s
	height: 100%
	width: 100%
	background-color: $l
	position: fixed
	top: 0
	left: 0
	z-index: 100
.sect
	display: flex
	justify-content: center
	align-items: center
	z-index: 0
	background-position: center
	background-size: cover
	background-repeat: no-repeat
	width: 100%
	overflow: hidden
	padding: $space * 4 0
.screen-scroll
	width: 100%
	height: 100%
	position: relative
	overflow-y: scroll
	scroll-behavior: smooth
.scrollable
	overflow-y: auto
	overflow-x: hidden
	transition: 0.5s
.logo
	display: block
	height: 100%
	img
		height: 100%
		width: auto
.contact
	.link
		margin: 0
	img
		margin-right: $space / 2
		width: 25px
	.fas
		font-size: 20px
		margin-right: $space / 2
.social
	a
		width: 20px
		display: block
		margin-right: $space
	img
		width: 100%
		display: block
.module-item
	padding:
		left: 0
		right: 0
.item
	padding: $space
	.h5
		margin: $space 0
	.item-price
		font-size: 26px
		font-weight: bold
	.inner-item
		box-shadow: $shadow
		padding: $space
		border-radius: $radius
.count
	margin-bottom: $space
.input-count
	position: relative
	padding-right: $space
.count-control
	position: absolute
	z-index: 99
	right: 30px
.count-plus
	top: 15px
.count-minus
	bottom: 10px
.item-image
	width: 80%
	border-radius: $radius
	overflow: hidden
	img
		width: 100%
		
.item-icon
	width: 100px
	height: 100px
	margin: 0 auto
	border-radius: $radius * 5
	overflow: hidden
	box-shadow: $shadow
	img
		width: 100%
		height: 100%
.item-alternate
	padding: $space 0
	.item-image
		width: 120px
		margin-right: $space
	.h3
		font-size: 22px
		margin: 0 0 $space 0
	.item-price
		font-size: 22px
#msMiniCart
	position: relative
	margin-left: $space
	&:hover
		.fas
			color: $a
	.fas
		font-size: 20px
		transition: 0.5s
	.ms2_total_count
		font-weight: bold
		position: absolute
		top: -10px
		right: -10px
		color: $a
		font-size: 12px
	.ms2_total_cost
		position: absolute
.mse2_pagination
	.pagination
		width: 100%
		.pagination
			width: auto
			display: flex
			justify-content: center
			align-items: center
			li
				margin: 0 $space / 2
			.active
				a
					color: $a

.ui-slider-handle
	border-radius: 100px
	border: none!important
	background-color: $a!important
	width: 13px!important
	height: 13px!important
	outline: none
	transition: transform 0.3s
	&:hover
		transform: scale(1.2)
#mse2_filters .mse2_number_slider
	font-size: 18px
	height: 5px
	margin: 0
	border: 1px solid $a
.ui-slider-horizontal .ui-slider-range
	background-color: rgba($a, 0.4)!important

.ui-menu
	z-index: 9999
.ui-widget.ui-widget-content
	border: 1px solid $a
	border-radius: $radius
	transition: width 0.5s
	li
		transition: 0.5s
.mse2-ac-link .ui-menu-item-wrapper
	transition: 0.5s!important
	&:hover
		background-color: rgba($a, 0.3)!important
.ui-state-active
	transition: 0.5s!important
	background-color: $a!important
	border: 1px solid $a!important
	color: $l!important

@media only screen and (max-width : 1440px)
	body
		font-size: 20px
@media only screen and (max-width : 1200px)
	body
		font-size: 18px
	.sect
		padding: 40px 0
@media only screen and (max-width : 992px)
	.item .inner-item
		border-radius: $space
	.item-image
		width: 90%	
@media only screen and (max-width : 768px)
	body
		font-size: 16px
@media only screen and (max-width : 560px)
	$space: 10px
	body
		font-size: 14px
	.sect
		padding: 30px 0
	.item
		padding: $space
	.module-item
		padding: 0 $space
	.contact img
		width: 20px
	.item-icon
		width: 60px
		height: 60px
@media only screen and (max-width : 480px)
	//
@media only screen and (max-width : 320px)
	body
		font-size: 12px
	.sect
		padding: 20px 0
	.count-minus
		bottom: 7px
	.count-plus
		top: 10px
