// border-color, color, bg-color, hover-color, bg-hover-color, bg-active-color, border-radius, font-size, padding, line-heght, font-weight
@import "_mixins/btns"
.btn-a
	@include btn ($a, $l, $a, $a, $l, $l, $radius / 2, 18px, $space / 2 $space, 1, 300, $shadow)
	white-space: nowrap
.btn-d
	@include btn ($d, $l, $d, $d, $l, $l, $radius / 2, 18px, $space / 2 $space, 1, 300, $shadow)
	white-space: nowrap
.btn-l
	@include btn ($d, $d, $l, $l, $d, $d, $radius / 2, 18px, $space / 2 $space, 1, 300, $shadow)
	white-space: nowrap
.btn-a-big
	@include btn ($a, $l, $a, $a, $l, $l, $radius / 2, 22px, $space / 2 $space * 3, 1, 300, $shadow)
	white-space: nowrap
.btn-d-big
	@include btn ($d, $l, $d, $d, $l, $l, $radius / 2, 18px, $space / 2 $space + 10, 1, 300, $shadow)
	white-space: nowrap
.btn-l-big
	@include btn ($d, $d, $l, $l, $d, $d, $radius / 2, 22px, $space / 2 $space * 3, 1, 300, $shadow)
	white-space: nowrap

@media only screen and (max-width : 1440px)
	//
@media only screen and (max-width : 1200px)
	.btn-a-big
		font-size: 18px
@media only screen and (max-width : 992px)
	//
@media only screen and (max-width : 768px)
	$space: 15px
	.btn-a-big
		padding: $space $space * 3
	.btn-d
		font-size: 16px
@media only screen and (max-width : 560px)
	$space: 10px
	.btn-a-big
		padding: $space $space * 3
		font-size: 16px
	.btn-a, .btn-d-big
		font-size: 14px
		padding: $space $space * 2
	.btn-d
		font-size: 12px
		padding: $space
@media only screen and (max-width : 480px)
	//
@media only screen and (max-width : 320px)
	.btn-a-big
		font-size: 12px
	.btn-a, .btn-d, .btn-d-big
		font-size: 12px
