// border-color, color, bg-color, hover-color, bg-hover-color, bg-active-color, border-radius, font-size, padding, line-heght, font-weight
input, select
	@include btn ($d, $d, $l, $d, $l, $l, $radius / 2, 22px, $space / 2 $space / 2, 1, 300, $shadow)
	width: 100%
	text-align: left
	border: none
	border-bottom: 1px solid $a

textarea
	@include btn ($a, $d, $l, $d, $l, $l, $radius / 2, 22px, $space / 2 $space / 2, 1, 300, $shadow)
	height: 100%
	width: 100%
	text-align: left
.textarea
	width: 100%
	height: 200px
.form-group
	width: 100%
	position: relative

input[type="radio"]
	width: auto
	visibility: hidden
	position: absolute
	top: 0
	left: 0

input[type="checkbox"]
	width: auto
	visibility: hidden
	position: absolute
	top: 0
	left: 0

.radio-input
	width: 100%
	position: relative
	display: flex
	align-items: center
	&::before
		content: ''
		border-radius: $radius
		transition: 0.5s
		width: 15px
		height: 15px
		border: 1px solid $a
		top: 5px
		left: 0
		margin-right: $space

.checkbox-input
	width: 100%
	position: relative
	display: flex
	align-items: center
	&::before
		content: ''
		border-radius: $radius / 5
		transition: 0.5s
		width: 15px
		height: 15px
		border: 1px solid $a
		top: 5px
		left: 0
		margin-right: $space

input:checked + label
	&::before
		background-color: $a
@media only screen and (max-width : 1440px)
	//
@media only screen and (max-width : 1200px)
	input, textarea
		font-size: 18px
@media only screen and (max-width : 992px)
	//
@media only screen and (max-width : 768px)
	//
@media only screen and (max-width : 560px)
	//
@media only screen and (max-width : 480px)
	//
@media only screen and (max-width : 320px)
	$space: 10px
	input
		font-size: 16px
		padding: $space
	textarea
		font-size: 16px
		padding: $space
