.main-sect
	position: relative
	padding-bottom: 0
	.main-image
		width: 100%
		img
			width: 100%
	.cont-fluid
		height: 100%
#banner-slider
	.slide-item
		height: 200px
	.next
		right: 20px
	.prev
		left: 20px
#call-sect
	.h3
		margin-top: 0
	form
		border-radius: $radius * 2
		box-shadow: $shadow
		padding: $space
		input
			&:nth-child(1)
				margin-right: $space
			&:nth-child(2)
				margin-left: $space
		textarea
			display: block
	.contacts
		.contact
			margin-top: $space * 2
.slide-item
	.inner-slide-item
		padding: 0 $space

#product-slider
	.dots
		bottom: -30px
	.slide-item
		img
			width: 100%
		.inner-slide-item
			padding: 0
			width: 100%
			height: 100%
	.nav
		&::after
			border-color: $a
	.prev
		left: 20px
	.next
		right: 20px

@media only screen and (max-width : 1440px)
	//
@media only screen and (max-width : 1200px)
	.slider .dots
		bottom: -30px
@media only screen and (max-width : 992px)
	#call-sect
		.contacts
			.contact
				margin-top: $space
@media only screen and (max-width : 768px)
	.main-sect
		margin-top: 60px
@media only screen and (max-width : 560px)
	$space: 10px
	#call-sect
		form
			.form-group
				flex-wrap: wrap
			input
				width: 100%
				margin: 0
			input:nth-child(1)
				margin: 0
			input:nth-child(2)
				margin: 0
		.contacts
			.contact
				justify-content: center
	.slider
		.dots
			display: none
	#product-slider .dots
		display: flex
@media only screen and (max-width : 480px)
	//
@media only screen and (max-width : 320px)
	//

