#politics
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-color: $l
	color: $d
	overflow-y: scroll
	padding: 30px
	.close-popup
		@include close-icon (25px, $d, 3px)
		position: absolute
	ul
		padding-left: 10px
	li
		padding-left: 10px
.polit
	text-align: center
	font-size: 8px
	line-height: 1.2
	color: $d
	.open-popup
		border-bottom: 1px solid $d
		color: $d

#callback
	width: 100%
	max-width: 500px
	height: 100%
	max-height: 400px
	background-color: $l
	border: 1px solid $l
	border-radius: $radius
	box-shadow: $shadow
	form
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		position: relative
		padding: 0 $space
	.h4
		text-align: center
		margin-bottom: 20px
		font-weight: 600
	.btn-a-big
		margin-top: $space / 2

#product-modal
	max-width: 850px
	width: 100%
	height: 90%
	background-color: $l
	padding: $space
	overflow: hidden
	.product-preloader
		position: absolute
		top: 0
		left: 0
		bottom: 0
		right: 0
		margin: auto
		width: 100%
		height: 100%
		z-index: 300
		background-color: $l
		transition: 0.5s
		.wrap-product-preloader
			width: 50px
			height: 50px
			background-color: $a
			border-radius: $radius * 4
			position: absolute
			@include center-mode
			animation: wrap-preload 1s ease-in-out infinite
		.inner-product-preloader
			width: 50px
			height: 50px
			background-color: $a
			border-radius: $radius * 4
			position: absolute
			@include center-mode
			&::after
				content: ''
				width: 40px
				height: 40px
				background-color: $l
				border-radius: $radius * 4
	@keyframes wrap-preload
		0%
			transform: none
			opacity: 1
		100%
			transform: scale(1.4)
			opacity: 0
	.price
		font-weight: bold
		font-size: 34px
	.product-info
		padding-left: $space
	.product-desc
		margin-top: $space
	.form-order
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		margin: auto
		background-color: $l
		width: 80%
		height: 100%
		min-width: 300px
		max-height: 400px
		padding: $space
		border-radius: $radius
		box-shadow: 0px 3px 8px 0px rgba(0, 1, 3, 0.08)
		z-index: -100
		transition: 0.5s
		opacity: 0
		transform: scale(0.3)
		pointer-events: none
		form
			width: 100%
	.modal-blocker
		position: absolute
		top: 0
		left: 0
		bottom: 0
		right: 0
		margin: auto
		width: 100%
		height: 100%
		opacity: 0
		transition: 0.5s
		z-index: -100
		pointer-events: none
		background-color: rgba(255, 255, 255, 0.8)
#product-modal.active-order
	.form-order
		z-index: 200
		opacity: 1
		transform: scale(1)
		pointer-events: fill
	.modal-blocker
		z-index: 102
		opacity: 1
		pointer-events: fill
#product-modal.product-load
	.product-preloader
		opacity: 0
		z-index: -100
		pointer-events: none

#search
	height: 200px
	width: 100%
	max-width: 800px
	border-radius: $radius / 2
	background-color: $l
	.inner-modal
		height: 100%
		width: 100%

@media only screen and (max-width : 1440px)
	//
@media only screen and (max-width : 1200px)
	#product-modal.active-order
		.form-order
			max-height: 360px
@media only screen and (max-width : 992px)
	#product-modal
		.price
			font-size: 30px
	.product-title
		font-size: 34px
@media only screen and (max-width : 768px)
	#product-modal
		.price
			font-size: 26px
	.product-title
		font-size: 30px
	#callback
		max-height: 360px
@media only screen and (max-width : 560px)
	#product-modal
		.dots
			position: static
			margin-top: $space
		.product-info
			margin-top: $space
			padding-left: 0
		.price
			font-size: 22px
	.product-title
		font-size: 26px
	#callback
		max-height: 320px
	#product-modal.active-order
		.form-order
			max-height: 330px
@media only screen and (max-width : 480px)
	//
@media only screen and (max-width : 320px)
	#product-modal.active-order
		.form-order
			max-height: 300px
