#msCart, #getOrder
	.empty-cart
		height: 100vh
	.fa-shopping-cart
		margin-bottom: $space
		font-size: 42px
	.table-responsive
		width: 100%
		.product-cart-image
			overflow: hidden
			padding-left: $space
			&:hover
				img
					transform: scale(1.2)
			a
				display: block
				overflow: hidden
				border-radius: $radius
			img
				width: 100%
				transition: 0.5s
	.header-table
		margin-bottom: $space * 2
		font-weight: bold
	.footer-table
		padding-top: $space
		font-weight: bold
	.cart-item
		margin-top: $space
		padding: $space 0
		border-radius: $radius
		box-shadow: 0px 3px 8px 0px rgba(0, 1, 3, 0.08)
		position: relative
		.h3
			margin-top: 0
		.inner-cart-item
			padding-right: $space
			display: flex
			align-items: center
			justify-content: flex-start
		.product-cart-title
			align-items: flex-start
		.product-cart-count, .product-cart-price
			margin-top: $space
		.count
			margin: 0

@media only screen and (max-width : 1440px)
	//
@media only screen and (max-width : 1200px)
	//
@media only screen and (max-width : 992px)
	//
@media only screen and (max-width : 768px)
	.table-responsive
		tr
			display: flex
	.product-cart-remove
		position: absolute
		top: 20px
		right: 20px
		width: auto
	.product-cart-count
		padding: 0 $space
	#msCart
		.footer-table
			padding-left: $space
		.footer-table-item
			width: auto
			margin: 0
			padding: 0 $space 0 0
		.footer-table-item:last-child
			padding: 0

@media only screen and (max-width : 560px)
	#msCart
		.cart-item
			.h3
				margin-bottom: 0
			.product-cart-title
				padding: 0 $space
@media only screen and (max-width : 480px)
	#msCart
		.cart-item
			.h3
				margin-top: $space
@media only screen and (max-width : 370px)
	.footer-table
		.btn-d
			display: none
@media only screen and (max-width : 320px)
	//
