#order
	.cont-fluid
		padding: $space / 2
	form
		width: 100%
#msOrder
	margin: 0
	.btn-a
		margin: $space 0 0 $space
	.btn-d-big
		margin: $space $space 0 0
#getOrder
	.cont-fluid
		padding: 0 $space
	
@media only screen and (max-width : 1440px)
	//
@media only screen and (max-width : 1200px)
	//
@media only screen and (max-width : 992px)
	//
@media only screen and (max-width : 768px)
	//
@media only screen and (max-width : 560px)
	//
@media only screen and (max-width : 480px)
	#getOrder
		.cart-item
			text-align: center
			flex-direction: column
			justify-content: center
			align-items: center
			.inner-cart-item
				width: auto
				text-align: center
				padding: 0
				.h3
					margin-top: $space
						margin-bottom: 0
			.product-cart-image
				width: 90%
				.get-product
					margin: auto
					width: 100%
	#order
		form
			flex-direction: column
		.btns-order
			.btn-d-big, .btn-a
				padding: $space / 2 $space / 2 + 10px
@media only screen and (max-width : 320px)
	//
