.h1
	font-size: 90px
	color: $l
	line-height: 1
.h2
	font-size: 52px
	color: $d
	line-height: 1
.h3
	font-size: 30px
	margin: $space 0
	font-weight: bold
	display: block
.title
	margin-bottom: $space * 3
	.h2
		position: relative
		&::after, &::before
			content: ''
			position: absolute
			width: 80px
			height: 2px
			top: 0
			bottom: 0
			margin: auto
			background-color: $d
		&::before
			left: -110px
		&::after
			right: -110px
.main-subtitle
	font-size: 36px
	color: $l
	margin: $space 0
.category-name
	font-size: 34px
	margin-bottom: $space
	padding-left: $space
.category-subtitle
	font-size: 30px
	padding-left: $space
.product-title
	margin-bottom: $space
	font-size: 40px

.order-item-title
	font-size: 22px
	margin-bottom: $space

@media only screen and (max-width : 1440px)
	.h1
		font-size: 70px
	.main-subtitle
		font-size: 32px
	.h2
		font-size: 46px
	.h3
		font-size: 30px
	
@media only screen and (max-width : 1200px)
	.h1
		font-size: 56px
	.h3
		font-size: 26px
	.title
		margin-bottom: $space * 2
	.main-subtitle
		font-size: 28px
	.category-name
		font-size: 30px
	.category-subtitle
		font-size: 26px
@media only screen and (max-width : 992px)
	$space: 10px
	.title
		margin-bottom: $space * 2
	.h1
		font-size: 44px
	.main-subtitle
		font-size: 22px
	.h2
		font-size: 38px
	.category-name
		font-size: 26px
	.category-subtitle
		font-size: 22px
@media only screen and (max-width : 768px)
	$space: 15px
	.h1
		font-size: 34px
	.main-subtitle
		font-size: 22px
		margin: $space 0
@media only screen and (max-width : 560px)
	$space: 10px
	.h1
		font-size: 30px
	.main-subtitle
		font-size: 18px
	.h2
		font-size: 26px
	.h3
		font-size: 20px
		margin: $space 0
	.item 
		.h5
			margin: $space 0
		.item-price
			margin-bottom: $space
	.category-name
		margin-bottom: $space
		font-size: 22px
		padding-left: $space
	.category-subtitle
		font-size: 18px
		padding-left: $space
	.order-item-title
		font-size: 20px
@media only screen and (max-width : 480px)
	$space: 10px
	.h3
		margin: $space 0
@media only screen and (max-width : 320px)
	.h1
		font-size: 26px
	.h2
		font-size: 24px
	.h3
		font-size: 16px
	.main-subtitle
		font-size: 16px
	.category-name
		font-size: 20px
	.category-subtitle
		font-size: 14px
	.order-item-title
		font-size: 16px
