.toolbar
	position: fixed
	width: calc(100% - 4px)
	z-index: 2000
	height: 80px
	padding: $space / 2 0
	top: 0
	left: 0
	transition: 0.5s
	box-shadow: $shadow
	background-color: $l
	.cont-fluid
		height: 100%
	.menu
		height: 100%
		flex: 1
		menu
			flex: 1
		li
			margin: 0 $space * 2
		.link
			&::after, &::before
				background-color: $a
	.btn-a
		margin-left: $space

.active-toolbar
	background-color: $l

@media only screen and (max-width : 1440px)
	.toolbar .menu li
		margin: 0 $space
@media only screen and (max-width : 1200px)
	.toolbar .menu li
		margin: 0 $space / 2
@media only screen and (max-width : 992px)
	//
@media only screen and (max-width : 768px)
	.toolbar
		height: 60px
		.cont-fluid
			justify-content: flex-start
		.menu
			flex: none
		.logo
			margin-right: $space
@media only screen and (max-width : 560px)
	//
@media only screen and (max-width : 480px)
	.toolbar
		.contact
			display: none
		.logo
			margin: 0
		.menu
			justify-content: center
		.navbar
			justify-content: flex-end
@media only screen and (max-width : 320px)
	//
