.hidden
	display: none!important
.cont-fluid
	display: flex
	width: 1920px
	margin: 0 auto
	padding: 0 20px
	position: relative
#Hidden__Container
	display: none!important

@media only screen and (max-width : 768px)
	//
@import "../_mixins/dynamic-grid"
