*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box
*::-webkit-input-placeholder
	color: $d
	opacity: 1
*:-moz-placeholder
	color: $d
	opacity: 1
*::-moz-placeholder
	color: $d
	opacity: 1
*:-ms-input-placeholder
	color: $d
	opacity: 1
*::selection
  color: $l
  background: $d
*
	-webkit-overflow-scrolling: touch

html, body
	height: 100%
	width: 100%
	margin: 0
	overflow: hidden
*::-webkit-scrollbar-track
	box-shadow: inset 0 0 6px lighten($a, 80%)
*::-webkit-scrollbar
	width: 4px
*::-webkit-scrollbar-thumb
	background-color: $a
body
	font-size: 20px
	min-width: 320px
	position: relative
	line-height: 1.2
	font-family: $default-font
	opacity: 1
	color: $d
h1,h2,h3,h4,h5,h6,ul,menu,li
	margin: 0
	padding: 0
	display: block
label
	cursor: pointer
fieldset
	margin: 0
	padding: 0
	border: none
input, textarea, a, button, select
	outline: none
textarea
	overflow: hidden
	overflow-y: auto
	white-space: pre-wrap
	resize: none
input:focus:required:invalid,
textarea:focus:required:invalid
	color: $d
input:required:valid,
textarea:required:valid
	color: $d
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button
	-webkit-appearance: none
	margin: 0
input[type="number"]
	-moz-appearance: textfield
input[type="number"]:hover,
input[type="number"]:focus
	-moz-appearance: number-input
a
	text-decoration: none
	color: $d
ul
  padding: 0
  margin: 0
li
	list-style-type: none
	padding: 0
	margin: 0
p
	margin: 0 0 20px 0
	padding: 0
p:last-child
	margin-bottom: 0
select
  appearance: none
address
  font-style: normal
img
	image-rendering: crisp-edges
	display: block

