id: 42
source: 1
name: cart
description: ''
category: Корзина
properties: 'a:0:{}'

-----

<div id="msCart">
  {if !count($products)}
  <section class="sect column empty-cart">
    <div class="cont-fluid column align-center">
      <i class="fas fa-shopping-cart"></i>
      {'ms2_cart_is_empty' | lexicon}
      <a href="/#products" class="link active-link">Посмотреть товары</a>
    </div>
  </section>
  {else}
  <section class="sect column full-cart main-sect">
    <div class="cont-fluid column align-center">
      <div class="table-responsive">
        <div class="table table-striped">
          <div class="header-table flex sm-hidden">
            <div class="product-cart-title xl-4 xl-offset-2">{'ms2_cart_title' | lexicon}</div>
            <div class="product-cart-count xl-2">{'ms2_cart_count' | lexicon}</div>
            <div class="product-cart-price xl-2">{'ms2_cart_price' | lexicon}</div>
            <div class="product-cart-remove xl-2 text-center">{'ms2_cart_remove' | lexicon}</div>
          </div>
          {foreach $products as $product}
            <div id="{$product.key}" class="cart-item flex flex-wrap">
              <div class="product-cart-image inner-cart-item xl-2 sm-4 xsm-12">
                {if $product.id | resource: 'page_image'}
                  <a href="#product-modal" class="get-product open-modal appender" data-product="{$product.id}" data-action="getProduct" data-tpl="product">
                    <img src="{$product.id | resource: 'page_image' | phpthumbon:"w=150&h=150&zc=0"}" alt="{$product.id | resource: 'title'}" title="{$product.id | resource: 'title'}"/>
                  </a>
                {else}
                  <a href="#product-modal" class="get-product open-modal appender" data-product="{$id}" data-action="getProduct" data-tpl="product">
                    <img src="assets/img/item.png" alt="{$product.id | resource: 'title'}" title="{$product.id | resource: 'title'}"/>
                  </a>
                {/if}
              </div>
              <div class="product-cart-title inner-cart-item xl-4 sm-8 xsm-12">
                {if $product.id?}
                  <a href="#product-modal" class="get-product open-modal appender" data-product="{$product.id}" data-action="getProduct" data-tpl="product">
                    <h3 class="h3">{$product.id | resource: 'title'}</h3>
                  </a>
                {else}
                  {$product.id | resource: 'title'}
                {/if}
                {if $product.options?}
                  <div class="small">
                    {$product.options | join : '; '}
                  </div>
                {/if}
              </div>
              <div class="product-cart-count inner-cart-item xl-2 sm-6">
                <form method="post" class="ms2_form form-inline" role="form">
                  <input type="hidden" name="key" value="{$product.key}"/>
                  <div class="count flex align-center content-center">
                    <div class="input-count">
                      <button class="item-count-control count-control count-plus" data-operator="+" name="ms2_action" value="cart/change"></button>
                      <button class="item-count-control count-control count-minus" data-operator="-" name="ms2_action" value="cart/change"></button>
                      <input type="number" name="count" value="{$product.count}" class="form-control"/>
                    </div>
                    {'ms2_frontend_count_unit' | lexicon}
                  </div>
                </form>
              </div>
              <div class="product-cart-price inner-cart-item xl-2 sm-6">
                <span>{$product.price}</span> {'ms2_frontend_currency' | lexicon}
                {if $product.old_price?}
                  <span class="old_price">{$product.old_price}</span> {'ms2_frontend_currency' | lexicon}
                {/if}
              </div>
              <div class="product-cart-remove xl-2 text-center">
                <form method="post" class="ms2_form">
                  <input type="hidden" name="key" value="{$product.key}">
                  <button class="remove-item" type="submit" name="ms2_action" value="cart/remove"></button>
                </form>
              </div>
            </div>
          {/foreach}

          <div class="footer-table flex flex-wrap align-center">
            <div class="footer-table-item total xl-4 xl-offset-2">{'ms2_cart_total' | lexicon}:</div>
            <div class="footer-table-item total_count xl-2">
              <span class="ms2_total_count">{$total.count}</span> {'ms2_frontend_count_unit' | lexicon}
            </div>
            <div class="footer-table-item total_cost xl-2">
              <span class="ms2_total_cost">{$total.cost}</span> {'ms2_frontend_currency' | lexicon}
            </div>
            <div class="footer-table-item xl-2">
              <form method="post" class="flex content-center">
                <button class="btn-d" type="submit" name="ms2_action" value="cart/clean">Очистить</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <a href="{24 | url}" class="btn-a">Оформить заказ</a>
    </div>
  </section>
  {/if}
</div>
