id: 5
name: fixed-elements
description: ''
category: 'Общие элементы страницы'
properties: 'a:0:{}'

-----

<div class="preloader column">
	Загрузка
	<div class="preload">
		<div class="inner-preload"></div>
	</div>
</div>
<div id="hamburger" class="sm-visible">
	<div class="inner-hamb"></div>
</div>
<div class="progress"></div>
<div class="notification offline">
	Соединение с интернетом прервано
</div>
<div class="notification online">
	Соединение с инетренетом восстановлено
</div>
<div class="notification message-success">
	Ваше сообщение успешно отправлено! Мы перезвоним Вам в ближайшее время.
</div>
<div class="notification message-error">
	Сообщение не отправлено! Проверьте введенные данные и подключение к интернету.
</div>
<div class="blocker"></div>