id: 44
source: 1
name: getOrder
description: ''
category: 'Оформление заказа'
properties: 'a:0:{}'

-----

<section class="sect main-sect" id="getOrder">
  <div class="cont-fluid column align-center">
    <h2 class="h4">Спасибо за заказ!</h2>
    <h1 class="h3">Ваш заказ №{$order.num}</h1>
    <div class="table-responsive">
      <div class="table table-striped">
        <div class="header-table flex sm-hidden">
          <div class="product-cart-title xl-4 xl-offset-2">{'ms2_cart_title' | lexicon}</div>
          <div class="product-cart-count xl-3">{'ms2_cart_count' | lexicon}</div>
          <div class="product-cart-price xl-3">{'ms2_cart_cost' | lexicon}</div>
        </div>
        {foreach $products as $product}
          <div class="cart-item flex flex-wrap">
            <div class="product-cart-image inner-cart-item xl-2 sm-4 xsm-12">
              {if $product.id | resource: 'page_image'}
                <a href="#product-modal" class="get-product open-modal appender" data-product="{$product.id}" data-action="getProduct" data-tpl="product">
                  <img src="{$product.id | resource: 'page_image' | phpthumbon:"w=150&h=150&zc=0"}" alt="{$product.id | resource: 'title'}" title="{$product.id | resource: 'title'}"/>
                </a>
              {else}
                <a href="#product-modal" class="get-product open-modal appender" data-product="{$id}" data-action="getProduct" data-tpl="product">
                  <img src="assets/img/item.png" alt="{$product.id | resource: 'title'}" title="{$product.id | resource: 'title'}"/>
                </a>
              {/if}
            </div>
            <div class="product-cart-title inner-cart-item xl-4 sm-8 xsm-12">
              {if $product.id?}
                <a href="#product-modal" class="get-product open-modal appender" data-product="{$product.id}" data-action="getProduct" data-tpl="product">
                  <h3 class="h3">{$product.id | resource: 'title'}</h3>
                </a>
              {else}
                {$product.id | resource: 'title'}
              {/if}
              {if $product.options?}
                <div class="small">
                  {$product.options | join : '; '}
                </div>
              {/if}
            </div>
            <div class="product-cart-count inner-cart-item xl-3 sm-6">
              {$product.count} {'ms2_frontend_count_unit' | lexicon}
            </div>
            <div class="product-cart-price inner-cart-item xl-3 sm-6">
              <span>{$product.price}</span> {'ms2_frontend_currency' | lexicon}
            </div>
          </div>
        {/foreach}
        <div class="footer-table flex flex-wrap align-center">
          <div class="footer-table-item total xl-4 xl-offset-2">{'ms2_cart_total' | lexicon}:</div>
          <div class="footer-table-item total_count xl-3">
            <span class="ms2_total_count">{$total.count}</span> {'ms2_frontend_count_unit' | lexicon}
          </div>
          <div class="footer-table-item total_cost xl-3">
            <span class="ms2_total_cost">{$total.cost}</span> {'ms2_frontend_currency' | lexicon}
          </div>
        </div>
      </div>
    </div>
    <div class="h3">
      {'ms2_frontend_order_cost' | lexicon}:
      {if $total.delivery_cost}
        {$total.cart_cost} {'ms2_frontend_currency' | lexicon} + {$total.delivery_cost}
        {'ms2_frontend_currency' | lexicon} =
      {/if}
      <strong>{$total.cost}</strong> {'ms2_frontend_currency' | lexicon}
    </div>
    {if $payment_link?}
      <p>{'ms2_payment_link' | lexicon : ['link' => $payment_link]}</p>
    {/if}
  </div>
</section>
