id: 4
name: header
description: ''
category: 'Общие элементы страницы'
properties: 'a:0:{}'

-----

<header class="toolbar flex align-center content-center">
	<div class="cont-fluid align-center content-sb">
		<div class="menu flex align-center xsm-offset-4 xsm-4">
			<a href="/" class="logo">
				<img src="{1 | resource: 'logo'}" alt="{$_modx->config["site_name"]}" title="{$_modx->config["site_name"]}">
			</a>
			<menu class="flex align-center content-center sm-hidden">
				<li>
					<a class="link" href="#products">Продукция</a>
				</li>
				<li>
					<a class="link" href="#for-client">Покупателю</a>
				</li>
				<li>
					<a class="link" href="#reviews">Отзывы</a>
				</li>
				<li>
					<a class="link" href="#call-sect">Контакты</a>
				</li>
			</menu>
		</div>
		<div class="navbar flex align-center xsm-4">
			<div class="contact flex align-center">
			  <i class="fas fa-phone"></i>
				<a href="tel:{1 | resource: 'phone'}" class="link">{1 | resource: 'phone'}</a>
			</div>
			{'!msMiniCart' | snippet : [
        'tpl' => 'mini_cart'
      ]}
      <div class="pl-1">
        <a href="#search" class="open-modal appender"><i class="fas fa-search"></i></a>
      </div>
      <div class="hidden">
        <a href="#callback" class="open-modal appender">Обратный звонок</a>
      </div>
		</div>
	</div>
</header>