id: 61
source: 1
name: mFilter2.filter.slider
description: ''
category: mSearch2
properties: 'a:0:{}'
static_file: core/components/msearch2/elements/chunks/chunk.mfilter2.filter.slider.tpl

-----

<fieldset id="mse2_[[+table]][[+delimeter]][[+filter]]">
	<h4 class="filter_title">[[%mse2_filter_[[+table]]_[[+filter]]]]</h4>
	<div class="mse2_number_slider"></div>
	<div class="mse2_number_inputs flex content-sb">
		[[+rows]]
	</div>
</fieldset>