id: 57
source: 1
name: mFilter2.outer
description: ''
category: mSearch2
properties: 'a:0:{}'
static_file: core/components/msearch2/elements/chunks/chunk.mfilter2.outer.tpl

-----

<div class="category-page flex flex-wrap xl-12 pt-4" id="mse2_mfilter">
  <aside class="aside-filter xl-3">
    <form action="[[~[[*id]]]]" method="post" id="mse2_filters" class="xl-12">
  		[[+filters]]
  		[[+filters:isnot=``:then=`
  			<button type="reset" class="btn-a hidden mt-1">[[%mse2_reset]]</button>
  			<button type="submit" class="btn-a hidden mt-1">[[%mse2_submit]]</button>
  		`]]
  	</form>
  </aside>
  <div class="xl-9">
    <section class="sect products column xl-12" id="products">
      <div class="title flex xl-12 align-center content-center text-center">
        <h2 class="h2">{$_modx->resource["pagetitle"]}</h2>
      </div>
      <div class="flex xl-12 content-sb align-center flex-wrap">
      	<div id="mse2_sort">
      		[[%mse2_sort]]
      		<a href="#" data-sort="resource|publishedon" data-dir="[[+mse2_sort:is=`resource|publishedon:desc`:then=`desc`]]" data-default="desc" class="sort">[[%mse2_sort_publishedon]] <span></span></a>
      	</div>
      	<div class="flex xl-3 align-center">
          <div class="mr-1">[[%mse2_limit]]</div>
      		<select name="mse_limit" id="mse2_limit">
      			<option value="10" [[+limit:is=`10`:then=`selected`]]>10</option>
      			<option value="25" [[+limit:is=`25`:then=`selected`]]>25</option>
      			<option value="50" [[+limit:is=`50`:then=`selected`]]>50</option>
      			<option value="100" [[+limit:is=`100`:then=`selected`]]>100</option>
      		</select>
      	</div>
      	[[+tpls:notempty=`
      	<div id="mse2_tpl" class="span4 col-md-4">
      		<a href="#" data-tpl="0" class="[[+tpl0]] fas fa-th-large"></a>
      		<a href="#" data-tpl="1" class="[[+tpl1]] fas fa-list"></a>
      	</div>`]]
      </div>
      <div class="xl-12 flex content-end">[[%mse2_filter_total]] <span id="mse2_total">[[+total:default=`0`]]</span></div>
      <div id="mse2_results" class="flex xl-12 flex-wrap">
  			[[+results]]
  		</div>
  		<div class="mse2_pagination xl-12">
  			[[!+page.nav]]
  		</div>
    </section>
  </div>
</div>