id: 60
source: 1
name: mFilter2.filter.checkbox
description: ''
category: mSearch2
properties: 'a:0:{}'
static_file: core/components/msearch2/elements/chunks/chunk.mfilter2.filter.checkbox.tpl

-----

<div class="form-group mt-half">
  <input type="checkbox" name="[[+filter_key]]" id="mse2_[[+table]][[+delimeter]][[+filter]]_[[+idx]]" value="[[+value]]" [[+checked]] [[+disabled]]/>
  <label for="mse2_[[+table]][[+delimeter]][[+filter]]_[[+idx]]" class="[[+disabled]] checkbox-input">[[+title]] <sup>[[+num]]</sup></label>
</div>
