id: 59
source: 1
name: mFilter2.filter.outer
description: ''
category: mSearch2
properties: 'a:0:{}'
static_file: core/components/msearch2/elements/chunks/chunk.mfilter2.filter.outer.tpl

-----

<div id="mse2_[[+table]][[+delimeter]][[+filter]]">
	<h4 class="filter_title">[[%mse2_filter_[[+table]]_[[+filter]]]]</h4>
	[[+rows]]
</div>