id: 41
source: 1
name: mini_cart
description: ''
category: Корзина
properties: 'a:0:{}'

-----

<a href="{$_modx->makeUrl(23)}" id="msMiniCart" class="{$total_count > 0 ? 'full' : ''}">
  <div class="empty">
    <i class="fas fa-shopping-cart"></i>
  </div>
  <div class="not_empty">
    <i class="fas fa-shopping-cart"></i>
    <div class="ms2_total_count text-a">{$total_count}</div>
<!--     <div class="ms2_total_cost">{$total_cost}</div> -->
  </div>
</a>