id: 2
name: mob-mnu
description: ''
category: 'Общие элементы страницы'
properties: 'a:0:{}'

-----

<div id="mob-mnu" class="flex column content-sb">
	<div class="topbar flex content-center">
		<a href="/" class="logo">
			<img src="{1 | resource: 'logo'}" alt="{$_modx->config["site_name"]}" title="{$_modx->config["site_name"]}">
		</a>
	</div>
	<menu>
		<li class="screen-link">
			<a class="link" href="#products">Продукция</a>
		</li>
		<li class="screen-link">
			<a class="link" href="#for-client">Покупателю</a>
		</li>
		<li class="screen-link">
			<a class="link" href="#reviews">Отзывы</a>
		</li>
		<li class="screen-link">
			<a class="link" href="#call-sect">Контакты</a>
		</li>
	</menu>
	<div class="bottombar">
		<div class="contact flex align-center">
			<img src="assets/img/phone.svg" alt="Телефон">
			<a href="tel:{1 | resource: 'phone'}" class="link">{1 | resource: 'phone'}</a>
		</div>
		<div class="contact flex align-center">
			<img src="assets/img/mail.svg" alt="Почта">
			<a href="mailto:{1 | resource: 'mail'}" class="link">{1 | resource: 'mail'}</a>
		</div>
		<div class="contact flex align-center">
			<img src="assets/img/map.svg" alt="Адрес">
			<a href="{1 | resource: 'map_link'}" target="_blank" class="link">{1 | resource: 'address'}</a>
		</div>
		<div class="social flex content-center">
			<a href="{1 | resource: 'insta'}" target="_blank">
				<img src="assets/img/insta.svg" alt="Инстаграмм" title="Инстаграмм">
			</a>
			<a href="{1 | resource: 'vk'}" target="_blank">
				<img src="assets/img/vk.svg" alt="Вконтакте" title="Вконтакте">
			</a>
			<a href="{1 | resource: 'fb'}" target="_blank">
				<img src="assets/img/fb.svg" alt="Фейсбук" title="Фейсбук">
			</a>
		</div>
	</div>
</div>