id: 65
source: 1
name: mSearch2.ac
description: ''
category: mSearch2
properties: null
static_file: core/components/msearch2/elements/chunks/chunk.msearch2.ac.tpl

-----

<div class="mse2-ac-item">[[+idx]]. [[+pagetitle]] [[+weight]] [[+intro]]</div>
<!--msearch2_weight <span class="mse2-ac-weight"><small>[[%mse2_weight]]: [[+weight]]</small></span>-->
<!--msearch2_intro <br/><small>[[+intro]]</small>-->