id: 66
source: 1
name: mSearch2.row
description: ''
category: mSearch2
properties: 'a:0:{}'
static_file: core/components/msearch2/elements/chunks/chunk.msearch2.row.tpl

-----

<div class="mse2-row xl-12">
	<a href="{$id | url}" class="item flex">
	  <div class="inner-item flex column xl-12">
<!--       {$id} -->
	    <h3 class="h3">{$pagetitle}</h3>
	    <p>{$intro}</p>
	  </div>
	</a>
	
</div>
	    <!--[[+idx]]-->
<!--       {$weight} -->
<!--msearch2_weight  ([[%mse2_weight]]: [[+weight]])-->
<!--msearch2_intro <p>[[+intro]]</p>-->