id: 64
source: 1
name: mSearch2.form
description: ''
category: mSearch2
properties: 'a:0:{}'
static_file: core/components/msearch2/elements/chunks/chunk.msearch2.form.tpl

-----

<form action="/search-result" method="get" class="well msearch2" id="mse2_form">
  <label class="h3" for="[[+queryVar]]">Поиск:</label>
  <div class="form-group flex">
    <input type="text" placeholder="Введите название товара для поиска" name="[[+queryVar]]" value="[[+mse2_query]]" id="search-input">
    <button class="btn-a"><i class="fas fa-search"></i></button>
  </div>
</form>