id: 43
source: 1
name: order
description: ''
category: 'Оформление заказа'
properties: 'a:0:{}'

-----

<section class="sect main-sect" id="order">
  <div class="cont-fluid content-center">
    <form class="form-horizontal ms2_form flex flex-wrap align-start content-center" id="msOrder" method="post">
      <div class="item xl-4 md-6 sm-10 xsm-12">
        <div class="inner-item">
          <h4 class="order-item-title">{'ms2_frontend_credentials' | lexicon}:</h4>
          {foreach ['email','receiver','phone'] as $field}
            <div class="form-group mt-half">
              <input type="text" id="{$field}" placeholder="{('ms2_frontend_' ~ $field) | lexicon}" name="{$field}" value="{$form[$field]}" class="form-control{($field in list $errors) ? ' error' : ''}">
            </div>
          {/foreach}
          <div class="form-group mt-half">
            <div class="textarea">
              <textarea name="comment" id="comment" placeholder="{'ms2_frontend_comment' | lexicon}" class="form-control{('comment' in list $errors) ? ' error' : ''}">{$form.comment}</textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="item xl-4 md-6 sm-10 xsm-12">
        <div class="inner-item">
          <h4 class="order-item-title">{'ms2_frontend_address' | lexicon}:</h4>
          {foreach ['index','region','city'] as $field}
            <div class="form-group mt-half">
              <input type="text" id="{$field}" placeholder="{('ms2_frontend_' ~ $field) | lexicon}" name="{$field}" value="{$form[$field]}" class="form-control{($field in list $errors) ? ' error' : ''}">
            </div>
          {/foreach}
          {foreach ['street','building','room'] as $field}
            <div class="form-group mt-half">
              <input type="text" id="{$field}" placeholder="{('ms2_frontend_' ~ $field) | lexicon}" name="{$field}" value="{$form[$field]}" class="form-control{($field in list $errors) ? ' error' : ''}">
            </div>
          {/foreach}
        </div>
      </div>
      <div class="item xl-4 md-6 sm-10 xsm-12">
        <div class="inner-item">
          <h4 class="order-item-title">{'ms2_frontend_payments' | lexicon}:</h4>
            {foreach $payments as $payment index=$index}
              <div class="form-group mt-half">
                {var $checked = !($order.payment in keys $payments) && $index == 0 || $payment.id == $order.payment}
                <input type="radio" name="payment" value="{$payment.id}" id="payment_{$payment.id}" {$checked ? 'checked' : ''}>
                <label class="radio-input" for="payment_{$payment.id}">
                  {if $payment.logo?}
                    <img src="{$payment.logo}" alt="{$payment.name}" title="{$payment.name}"/>
                  {else}
                    {$payment.name}
                  {/if}
                  {if $payment.description?}
                    <p class="small">{$payment.description}</p>
                  {/if}
                </label>
              </div>
            {/foreach}
          <h4 class="order-item-title">{'ms2_frontend_deliveries' | lexicon}:</h4>
            {foreach $deliveries as $delivery index=$index}
              <div class="form-group mt-half">
                {var $checked = !($order.delivery in keys $deliveries) && $index == 0 || $delivery.id == $order.delivery}
                <input type="radio" name="delivery" value="{$delivery.id}" id="delivery_{$delivery.id}" data-payments="{$delivery.payments | json_encode}" {$checked ? 'checked' : ''}>
                <label class="radio-input" for="delivery_{$delivery.id}">
                  {if $delivery.logo?}
                    <img src="{$delivery.logo}" alt="{$delivery.name}" title="{$delivery.name}"/>
                  {else}
                    {$delivery.name}
                  {/if}
                  {if $delivery.description?}
                    <p class="small">{$delivery.description}</p>
                  {/if}
                </label>
              </div>
            {/foreach}
        </div>
      </div>
      <div class="flex column content-center xl-12">
        <h3 class="text-center">{'ms2_frontend_order_cost' | lexicon}:
          <span id="ms2_order_cost">{$order.cost ?: 0}</span>
          {'ms2_frontend_currency' | lexicon}
        </h3>
        <div class="flex content-center align-center btns-order">
          <button type="button" name="ms2_action" value="order/clean" class="btn-d-big ms2_link">Очистить</button>
          <button type="submit" name="ms2_action" value="order/submit" class="btn-a ms2_link">{'ms2_frontend_order_submit' | lexicon}</button>
        </div>
      </div>
    </form>
  </div>
</section>