id: 6
name: politics
description: ''
category: 'Общие элементы страницы'
properties: 'a:0:{}'

-----

<div id="politics" class="modal">
	<div class="close-modal appender" data-modal="politics"></div>
	<h2 class="h2">Политика конфиденциальности</h2>
	<p>Одной из основополагающих ценностей является безопасность и обеспечение конфиденциальности предоставленных Клиентами данных.
		С целью полного и всестороннего понимания данного документа, просим Вас внимательно с ним ознакомиться.</p>
	<ul>
		<li>
			<h3 class="h4">Определения и термины</h3>
			<ul>
				<li>Сайт – любой из сайтов, на котором размещена информация о предлагаемых Компанией товарах, маркетинговых акциях и иной
					информации в сети Интернет.</li>
				<li>Клиент – физическое лицо, использующее сайт Компании.</li>
				<li>Персональные данные - информация, относящаяся к определенному Клиенту, указанная в п. 3.1 настоящего Положения.</li>
				<li>Обработка персональных данных – любые операции, совершаемые с использованием средств автоматизации или без использования
					таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление,
					изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование,
					удаление, уничтожение персональных данных.</li>
				<li>Cookies - фрагменты данных, отправляемых веб-сервером браузеру при посещении сайта Клиентом.</li>
			</ul>
		</li>
		<li>
			<h3 class="h4">Цели и принципы политики конфиденциальности и сбора персональных данных</h3>
			<ul>
				<li>Политика конфиденциальности действует в отношении любой указанной в разделе 3 информации, которую Компания может получить
					о Клиенте во время использования сайта, программ и продуктов сайта.</li>
				<li>Клиент предоставляет свои персональные данные с целью:
					<ul>
						<li>- создания учетной записи,</li>
						<li>- предоставления технической поддержки, связанной с использованием сайта,</li>
						<li>- оформления заказов, уведомления о состоянии заказов, обработки и получения платежей,</li>
						<li>- получения новостей, информации о продуктах, мероприятиях, рекламных акциях или услугах,</li>
						<li>- участия в рекламных акциях, опросах,</li>
						<li>- использования иных имеющихся на сайте сервисов, включая форум, персональные блоги, сервис обмена личными сообщениями
							между зарегистрированными участниками, персонализированные комментарии и отзывы, но не ограничиваясь ими.</li>
						<li>Предоставленные данные могут быть использованы в целях продвижения товаров от имени Компании или от имени партнеров
							Компании.
						</li>
					</ul>
				</li>
				<li>Обеспечение надежности хранения информации и прозрачности целей сбора персональных данных. Персональные данные Клиентов
					собираются, хранятся, обрабатываются, используются, передаются и удаляются (уничтожаются) в соответствии с законодательством
					РФ, в т.ч. Федеральным законом 27.07.2006 № 152-ФЗ «О персональных данных», и настоящей Политикой конфиденциальности.</li>
			</ul>
		</li>
		<li>
			<h3 class="h4">Информация, подлежащая обработке</h3>
			<ul>
				<li>
					Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Клиентом путём
					заполнения регистрационной формы на сайте Компании и включают в себя следующую информацию:
					<ul>
						<li>ФИО Клиента;</li>
						<li>контактный телефон Клиента;</li>
						<li>адрес электронной почты (e-mail);</li>
						<li>адрес доставки Товара;</li>
						<li>историю заказов.</li>
					</ul>
					<li>
						Компания также получает данные, которые автоматически передаются в процессе просмотра при посещении сайта, в т. ч.:
						<ul>
							<li>IP адрес;</li>
							<li>информация из cookies;</li>
							<li>информация о браузере (или иной программе, которая осуществляет доступ к показу рекламы);</li>
							<li>время доступа;</li>
							<li>реферер (адрес предыдущей страницы).</li>
						</ul>
					</li>
				</li>
			</ul>
		</li>
		<li>
			<h3 class="h4">Обработка и использование персональных данных</h3>
			<ul>
				<li>Обработка персональных данных Клиента осуществляется без ограничения срока, любым законным способом, в том числе в
					информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.</li>
				<li>Соглашаясь с настоящей Политикой конфиденциальности Клиент предоставляет Компании свое бессрочное согласие на обработку
					указанных в разделе 3 персональных данных всеми указанными в настоящей Политике способами, а также передачу указанных
					данных партнерам Компании для целей исполнения принятых на себя обязательств.</li>
				<li>Компания не вправе передавать информацию о Клиенте неаффилированным лицам или лицам, не связанным с Компанией договорными
					отношениями.
				</li>
				<li>Передача информации аффилированным лицам и лицам, которые связаны с Компанией договорными отношениями (курьерские службы,
					организации почтовой связи и т.д.), осуществляется для исполнения заказа Клиента, а также для возможности информирования
					Клиента о проводимых акциях, предоставляемых услугах, проводимых мероприятиях.</li>
				<li>Аффилированные лица и лица, связанные с Компанией договорными отношениями, принимают на себя обязательства обеспечивать
					конфиденциальность информации и гарантировать ее защиту, а также обязуются использовать полученную информацию исключительно
					для целей исполнения указанных действий или оказания услуг.</li>
				<li>Компания принимает все необходимые меры для защиты персональных данных Клиента от неавторизированного доступа, изменения,
					раскрытия или уничтожения.</li>
			</ul>
		</li>
		<li>
			<h3 class="h4">Права и обязанности Клиента</h3>
			<ul>
				<li>Клиент обязуется не сообщать каким-либо третьим лицам логин и пароль, используемые им для идентификации на сайте Компании.</li>
				<li>Клиент обязуется соблюдать должную осмотрительность при хранении пароля, а также при его вводе.</li>
				<li>Клиент вправе изменять свои личные данные, а также требовать удаление личных данных у Компании.</li>
			</ul>
		</li>
		<li>
			<h3 class="h4">Дополнительные условия</h3>
			<ul>
				<li>Соглашаясь с настоящей Политикой конфиденциальности, Клиент предоставляет свое бессрочное согласие на получение информации
					о состоянии заказов, учетной записи и прочих уведомлений технического характера, а также уведомлений рекламного характера,
					в том числе о текущих маркетинговых акциях и актуальных предложениях Компании, с помощью различных средств, включая
					SMS и электронную почту, но не ограничиваясь ими. Клиент может в любое время отказаться от получения такой информации
					путем изменения данных учетной записи на сайте Компании.</li>
				<li>Компания несет ответственность перед клиентом в случаях, предусмотренных действующим законодательством.</li>
				<li>Компания освобождается от ответственности в случаях, когда информация о Клиенте: - стала публичным достоянием до её
					утраты или разглашения - была получена от третьей стороны до момента её получения Компанией - была разглашена с согласия
					Клиента.
				</li>
				<li>Компания вправе вносить изменения в политику конфиденциальности в одностороннем порядке. Изменения вступают в силу
					с момента их опубликования на сайте Компании.</li>
			</ul>
		</li>
	</ul>
</div>