id: 36
source: 1
name: product_kategory
description: ''
category: Продукция
properties: 'a:0:{}'

-----

<h2 class="category-name">{$title}</h2>
<h3 class="category-subtitle">{$subtitle}</h3>
<div class="items-container flex flex-wrap">
  {'!msProducts' | snippet : [
    'parents' => $id,
    'tpl' => 'product_item'
    'showUnpublished' => 1
    'includeTVs' => 'page_image, title, subtitle'
  ]}
</div>