id: 58
source: 1
name: product_item_alternate
description: ''
category: Продукция
properties: 'a:0:{}'

-----

<form class="item item-alternate xl-12 form-horizontal ms2_form" method="post">
  <div class="inner-item flex align-center content-sb">
    <a href="{$id | url}" class="flex align-center" data-product="{$id}" data-action="getProduct" data-tpl="product">
      <div class="item-image">
        <img src="[[+120x90]]" alt="{$pagetitle}" title="{$pagetitle}">
      </div>
      <div class="flex column">
        <h3 class="h3">{$pagetitle}</h3>
        <div class="item-price">{$price} руб.</div>
      </div>
    </a>
    <div class="count flex align-center content-center">
      <div class="input-count">
        <div class="item-count-control count-control count-plus" data-operator="+"></div>
        <div class="item-count-control count-control count-minus" data-operator="-"></div>
        <input type="number" name="count" class="form-control" value="1"/>
      </div>
      {'ms2_frontend_count_unit' | lexicon}
    </div>
    <input type="hidden" name="id" value="{$id}"/>
    <button type="submit" class="btn-a" name="ms2_action" value="cart/add">В корзину</button>
  </div>
</form>