id: 38
source: 1
name: product
description: ''
category: Продукция
properties: 'a:0:{}'

-----

<form class="inner-modal flex column form-horizontal ms2_form" id="inner-modal-product" method="post">
  <h3 class="product-title">{$title}</h3>
  <div class="flex flex-wrap xl-12">
    <div class="xl-6 xsl-12">
      <div class="slider" id="product-slider">
  			<div class="nav prev"></div>
  			<div class="viewport">
  				<div class="slide-line">
  				  {set $items = json_decode($id | resource: 'product_images', true)}
      			{foreach $items as $item}
              <div class="slide-item">
    					  <div class="inner-slide-item">
    					    <img src="{$item.image}">
    					  </div>
    					</div>
      			{/foreach}
  				</div>
  			</div>
  			<div class="nav next"></div>
  		</div>
    </div>
		<div class="product-info xl-6 xsl-12">
      <div class="price">Цена: {$price} руб.</div>
      <div class="product-desc">{$product_short_desc}</div>
      <input type="hidden" name="id" value="{$id}"/>
      <div class="count flex align-center content-start">
        <div class="input-count">
          <div class="cart-count-control count-control count-plus" data-operator="+"></div>
          <div class="cart-count-control count-control count-minus" data-operator="-"></div>
          <input type="number" name="count" id="product_price" class="form-control" value="1"/>
        </div>
        {'ms2_frontend_count_unit' | lexicon}
      </div>
      <button type="submit" class="btn-a" name="ms2_action" value="cart/add">В корзину</button>
    </div>
  </div>
</form>