id: 63
source: 1
name: search
description: ''
category: Поиск
properties: 'a:0:{}'

-----

<div class="modal" id="search">
  <div class="inner-modal p-1">
    <div class="close-modal appender" data-modal="search"></div>
    {'!mSearchForm' | snippet: [
      'tplForm' => 'mSearch2.form'
      'tpl' => 'mSearch2.ac'
    ]}
  </div>
</div>

