id: 18
source: 1
name: tpl_call_section_form
description: ''
category: Формы
properties: 'a:0:{}'

-----

<label class="h3 text-center" for="call-phone">Остались вопросы?</label>
<form class="flex column align-center xl-7 lg-8 md-10 sm-12 xsm-12">
	<div class="form-group flex">
		<input type="text" name="name" placeholder="Ваше имя:" value="{$_modx->getPlaceholder('fi.name')}">
		<input type="text" class="mask-phone" name="phone" id="call-phone" placeholder="Ваш телефон" required value="{$_modx->getPlaceholder('fi.phone')}">
	</div>
	<div class="form-group textarea my-1">
		<textarea name="message" placeholder="Ваше сообщение" value="{$_modx->getPlaceholder('fi.message')}"></textarea>
	</div>
	<button class="btn-a-big">Отправить</button>
	<div class="polit">Нажимая на «Подтвердить» вы даете согласие на<br><a class="open-modal appender" href="#politics">обработку персональных данных</a></div>
</form>