id: 46
source: 1
name: tpl.mSearch2.form
description: ''
category: mSearch2
properties: null
static_file: core/components/msearch2/elements/chunks/chunk.msearch2.form.tpl

-----

<form action="[[~[[+pageId]]]]" method="get" class="well msearch2" id="mse2_form">
	<div class="row">
		<div class="form-group col-md-10">
			<input type="text" class="form-control" name="[[+queryVar]]" placeholder="[[%mse2_search]]" value="[[+mse2_query]]" />
		</div>
		<button type="submit" class="btn btn-default">
			<i class="glyphicon glyphicon-search"></i> [[%search]]
		</button>
	</div>
</form>