id: 19
pagetitle: 'Товар 2_3'
description: ''
alias: tovar-2
published: 1
parent: 9
introtext: ''
template: 6
createdby: 1
createdon: 1538427656
publishedon: 1538745660
publishedby: 1
hidemenu: 1
class_key: msProduct
uri: katalog/kategoriya-3/tovar-2
show_in_tree: 0
properties: null
article: ''
price: !!float 27000
old_price: !!float 0
weight: !!float 0
image: /assets/images/products/19/bg-3.jpg
thumb: /assets/images/products/19/120x90/bg-3.jpg
vendor: 0
made_in: ''
new: 0
popular: 0
favorite: 0
tags: null
color: null
size: null
source: 3
vendor.id: null
vendor.name: null
vendor.resource: 0
vendor.country: null
vendor.logo: null
vendor.address: null
vendor.phone: null
vendor.fax: null
vendor.email: null
vendor.description: null
vendor.properties: null
tvs:
    page_icon: ''
    page_image: assets/img/item.png
    product_images: '[{"MIGX_id":"1","image":"assets\/img\/image-1.jpg"},{"MIGX_id":"2","image":"assets\/img\/image-2.jpg"},{"MIGX_id":"3","image":"assets\/img\/image-1.jpg"}]'
    product_short_desc: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices tortor sed nibh vehicula vestibulum. Aenean commodo elementum lectus sodales tincidunt.</p>'
    subtitle: ''
    title: 'Товар 2'

-----

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices tortor sed nibh vehicula vestibulum. Aenean commodo elementum lectus sodales tincidunt.</p>