@import "../_vars.sass"
.p-0
  padding: 0
.p-half
  padding: $space / 2
.p-1
  padding: $space
.p-2
  padding: $space * 2
.p-3
  padding: $space * 3
.p-4
  padding: $space * 4
.p-5
  padding: $space * 5

.px-0
  padding:
    right: 0
    left: 0
.px-half
  padding:
    right: $space / 2
    left: $space / 2
.px-1
  padding:
    right: $space
    left: $space
.px-2
  padding:
    right: $space * 2
    left: $space * 2
.px-3
  padding:
    right: $space * 3
    left: $space * 3
.px-4
  padding:
    right: $space * 4
    left: $space * 4
.px-5
  padding:
    right: $space * 5
    left: $space * 5

.py-0
  padding:
    top: 0
    bottom: 0
.py-half
  padding:
    top: $space / 2
    bottom: $space / 2
.py-1
  padding:
    top: $space
    bottom: $space
.py-2
  padding:
    top: $space * 2
    bottom: $space * 2
.py-3
  padding:
    top: $space * 3
    bottom: $space * 3
.py-4
  padding:
    top: $space * 4
    bottom: $space * 4
.py-5
  padding:
    top: $space * 5
    bottom: $space * 5

.pt-0
  padding-top: 0
.pt-half
  padding-top: $space / 2
.pt-1
  padding-top: $space
.pt-2
  padding-top: $space * 2
.pt-3
  padding-top: $space * 3
.pt-4
  padding-top: $space * 4
.pt-5
  padding-top: $space * 5

.pb-0
  padding-bottom: 0
.pb-half
  padding-bottom: $space / 2
.pb-1
  padding-bottom: $space
.pb-2
  padding-bottom: $space * 2
.pb-3
  padding-bottom: $space * 3
.pb-4
  padding-bottom: $space * 4
.pb-5
  padding-bottom: $space * 5

.pr-0
  padding-right: 0
.pr-half
  padding-right: $space / 2
.pr-1
  padding-right: $space
.pr-2
  padding-right: $space * 2
.pr-3
  padding-right: $space * 3
.pr-4
  padding-right: $space * 4
.pr-5
  padding-right: $space * 5

.pl-0
  padding-left: 0
.pl-half
  padding-left: $space / 2
.pl-1
  padding-left: $space
.pl-2
  padding-left: $space * 2
.pl-3
  padding-left: $space * 3
.pl-4
  padding-left: $space * 4
.pl-5
  padding-left: $space * 5


.m-0
  margin: 0
.m-half
  margin: $space / 2
.m-1
  margin: $space * 1
.m-2
  margin: $space * 2
.m-3
  margin: $space * 3
.m-4
  margin: $space * 4
.m-5
  margin: $space * 5

.mx-0
  margin:
    right: 0
    left: 0
.mx-half
  margin:
    right: $space / 2
    left: $space / 2
.mx-1
  margin:
    right: $space
    left: $space
.mx-2
  margin:
    right: $space * 2
    left: $space * 2
.mx-3
  margin:
    right: $space * 3
    left: $space * 3
.mx-4
  margin:
    right: $space * 4
    left: $space * 4
.mx-5
  margin:
    right: $space * 5
    left: $space * 5

.my-0
  margin:
    top: 0
    bottom: 0
.my-half
  margin:
    top: $space / 2
    bottom: $space / 2
.my-1
  margin:
    top: $space
    bottom: $space
.my-2
  margin:
    top: $space * 2
    bottom: $space * 2
.my-3
  margin:
    top: $space * 3
    bottom: $space * 3
.my-4
  margin:
    top: $space * 4
    bottom: $space * 4
.my-5
  margin:
    top: $space * 5
    bottom: $space * 5

.mt-0
  margin-top: 0
.mt-half
  margin-top: $space / 2
.mt-1
  margin-top: $space
.mt-2
  margin-top: $space * 2
.mt-3
  margin-top: $space * 3
.mt-4
  margin-top: $space * 4
.mt-5
  margin-top: $space * 5

.mb-0
  margin-bottom: 0
.mb-half
  margin-bottom: $space / 2
.mb-1
  margin-bottom: $space
.mb-2
  margin-bottom: $space * 2
.mb-3
  margin-bottom: $space * 3
.mb-4
  margin-bottom: $space * 4
.mb-5
  margin-bottom: $space * 5

.mr-0
  margin-right: 0
.mr-half
  margin-right: $space / 2
.mr-1
  margin-right: $space
.mr-2
  margin-right: $space * 2
.mr-3
  margin-right: $space * 3
.mr-4
  margin-right: $space * 4
.mr-5
  margin-right: $space * 5

.ml-0
  margin-left: 0
.ml-1
  margin-left: $space
.ml-half
  margin-left: $space / 2
.ml-2
  margin-left: $space * 2
.ml-3
  margin-left: $space * 3
.ml-4
  margin-left: $space * 4
.ml-5
  margin-left: $space * 5

