id: 28
pagetitle: 'Товар 8_1'
description: ''
alias: tovar-8-1
published: 1
parent: 7
introtext: ''
template: 6
menuindex: 1
createdby: 1
createdon: 1541874638
publishedon: 1538745600
publishedby: 1
hidemenu: 1
class_key: msProduct
uri: katalog/kategoriya-1/tovar-8-1
show_in_tree: 0
properties: null
article: ''
price: !!float 32542
old_price: !!float 0
weight: !!float 0
image: /assets/images/products/28/cyberpunk-16.jpg
thumb: /assets/images/products/28/120x90/cyberpunk-16.jpg
vendor: 0
made_in: ''
new: 1
popular: 0
favorite: 0
tags: '["tag_3"]'
color: null
size: '["m"]'
source: 3
vendor.id: null
vendor.name: null
vendor.resource: 0
vendor.country: null
vendor.logo: null
vendor.address: null
vendor.phone: null
vendor.fax: null
vendor.email: null
vendor.description: null
vendor.properties: null
tvs:
    page_icon: ''
    page_image: assets/img/baba.jpg
    product_images: '[{"MIGX_id":"1","image":"assets\/img\/image-1.jpg"},{"MIGX_id":"2","image":"assets\/img\/image-2.jpg"},{"MIGX_id":"3","image":"assets\/img\/image-1.jpg"}]'
    product_short_desc: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices tortor sed nibh vehicula vestibulum. Aenean commodo elementum lectus sodales tincidunt.</p>'
    subtitle: ''
    title: 'Товар 4'

-----

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices tortor sed nibh vehicula vestibulum. Aenean commodo elementum lectus sodales tincidunt.</p>