id: 11
pagetitle: 'Товар 2_1'
description: ''
alias: tovar-2-1
published: 1
parent: 7
introtext: ''
template: 6
menuindex: 1
createdby: 1
createdon: 1538424100
publishedon: 1538745600
publishedby: 1
hidemenu: 1
class_key: msProduct
uri: katalog/kategoriya-1/tovar-2-1
show_in_tree: 0
properties: null
article: ''
price: !!float 30000
old_price: !!float 0
weight: !!float 0
image: /assets/images/products/11/cyberpunk-1.jpg
thumb: /assets/images/products/11/120x90/cyberpunk-1.jpg
vendor: 0
made_in: ''
new: 0
popular: 0
favorite: 0
tags: '["tag_2"]'
color: null
size: '["m"]'
source: 3
vendor.id: null
vendor.name: null
vendor.resource: 0
vendor.country: null
vendor.logo: null
vendor.address: null
vendor.phone: null
vendor.fax: null
vendor.email: null
vendor.description: null
vendor.properties: null
tvs:
    page_icon: ''
    page_image: assets/img/baba.jpg
    product_images: '[{"MIGX_id":"1","image":"assets\/img\/image-2.jpg"},{"MIGX_id":"2","image":"assets\/img\/image-2.jpg"},{"MIGX_id":"3","image":"assets\/img\/image-1.jpg"}]'
    product_short_desc: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices tortor sed nibh vehicula vestibulum. Aenean commodo elementum lectus sodales tincidunt.</p>'
    subtitle: ''
    title: 'Товар 2'

-----

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices tortor sed nibh vehicula vestibulum. Aenean commodo elementum lectus sodales tincidunt.</p>